version: "3.8"

services:
  
  yolo-frontend:
    build: ./client
    container_name: yolo-frontend
    stdin_open: true
    tty: true
    ports:
      - "3000:3000"
    depends_on:
      - yolo-backend
    networks:
      - app-net
    environment:
    - MONGO_URL=mongodb://mongo:27017/yolo

  
  yolo-backend:
    build: ./backend
    container_name: yolo-backend
    stdin_open: true
    tty: true
    restart: always
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    networks:
      - app-net
    environment:
      - MONGO_URL=mongodb://mongo:27017/yolo

  
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - app-net
    volumes:
      - mongo_data:/data/db


networks:
  app-net:
    driver: bridge


volumes:
  mongo_data:
