---
- name: Pull MongoDB image
  docker_image:
    name: mongo
    source: pull

- name: Run MongoDB container
  docker_container:
    name: mongo
    image: mongo
    state: started
    restart_policy: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
