---
- name: Clone the YOLO repository
  git:
    repo: "https://github.com/Leon-Mwai/yolo.git"
    dest: /home/vagrant/yolo
    version: master

- name: Build backend Docker image
  docker_image:
    name: yolo-backend
    build:
      path: /home/vagrant/yolo/backend
    source: build

- name: Run backend container
  docker_container:
    name: yolo-backend
    image: yolo-backend
    state: started
    restart_policy: always
    ports:
      - "5000:5000"
    env:
      MONGO_URL: "mongodb://mongo:27017/yolo"
